@media screen and (min-width: 2400px) {
  body {
    .box_list_text li {
      font-size: 25px !important;
    }
    .box_list_text li p {
      font-size: 20px !important;
    }
    .box_title_text {
      padding-left: 100px !important;
    }
  }
  }

@media screen and (min-width: 993px) and (max-width: 1257px) {
body {
  header {
    height: auto !important;
  }
  }
  .left_box ,
  .right_box {
    padding: 10px 5px !important;
  }
  
  .user_nickName span {
    font-size: 10px !important;
  }
  
  .start_new {
    margin-bottom: 100px !important;
  }
}

@media only screen and(min-width: 993px) {
  body {
    .footer_logo_sub {
      display: none !important;
    }
    .footer__mob {
      display: none;
    }
  }
}

@media only screen and(min-width: 768px) and(max-width: 992px) {
  body {
    header {
      height: auto !important;
    }
    .start_new {
      margin-bottom: 100px !important;
    }
    .header_bottom_list {
      display: flex !important;
      align-items: start !important;
    }
    
    .circle_green {
      width: 55px !important;
      height: 40px !important;
      font-size: 16px !important;
      font-size: 22px !important;
      margin-top: 12px !important;
    }
    .circle_text {
      margin-left: 5px !important;
    }
    .circle_text span {
      font-size: 12px !important;
    }
    .circle_text p {
      font-size: 10px !important;
      line-height: 9px !important;
      padding: 0 !important;
    }
    .mobole_list {
      margin: 20px 0 !important;
    }
    .user_card {
      padding: 5px !important;
    }
    .user_img img {
      width: 55px !important;
      height: 55px !important;
    }
    .user_name  {
      max-height: 65px !important;
      margin-left: 5px !important;
    }
    .user_name span {
      font-size: 17px !important;
      width: 140px;
      flex: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .user_nickName {
      display: flex;
      align-items: start !important;
      flex-direction: column;
      text-align: start;
    }
    .user_nickName span {
      font-size: 12px !important;
    }
    .user_activity span {
      font-size: 12px !important;
    }
    .user_projects {
      position: absolute;
      bottom: 10px;
      left: 20px;
    }
    .user_projects span {
      font-size: 10px !important;
      color: #000 !important;
    }
    .user_job {
      display: none;
    }
    .user_satus {
      display: flex;
      align-items: center;
    }
    .user_job_mobile span {
      font-size: 11px;
      font-weight: 700 ;
      color: #00CF4D;
      padding-left: 10px;
    }
    .on_online,
    .off_online {
      width: 70px !important;
      height: 15px !important;
      font-size: 9px !important;
      margin: 15px 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .user_title_info_last {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
    }
    .user_img_last {
      margin-top: 10px !important;
      margin-left: 35px !important;
    }
    .user_last_info_list .user_name span {
      width: 200px;
      flex: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px !important;
    }
    .user_last_info_list .user_activity {
      margin-top: 10px !important;
    }
    .user_projects_last {
      width: 100% !important;
      text-align: center;
    }
    .user_img_last {
      margin-right: 40px !important;
    }
    .user_job span {
      font-size: 13px !important;
    }
    .interesting_box img {
      width: 40px !important;
      height: 40px !important;
    }
    .interesting_box .sup {
      font-size: 25px !important;
    }
    .interesting_box .sub {
      font-size: 14px !important;
    }
    .logotip_text {
      margin-left: 10px !important;
    }
    .aside_card_title span {
      font-size: 12px !important;
    }
    .aside_card_title img {
      width: 40px !important;
      height: 40px !important;
    }
    .aside_card_list li {
      font-size: 11.8px !important;
      padding-top: 2px !important;
    }
    .aside_tablet_list {
      margin-bottom: 30px;
    }
    .secure_payment_img {
      width: 40%;
    }
    .secure_payment_title_text {
      width: 70% !important;
    }
    .box_icons {
      display: none !important;
    }
    .mobile_icon {
      display: block !important;
    }
    .left_box,
    .right_box {
      padding: 15px !important;
    }
    .left_box ul li p,
    .right_box ul li p {
      font-size: 12px !important;
    }
    
    .box_title_text {
      padding-top: 40px !important;
    }

    .box_list_text li {
      font-size: 16px !important;
      padding-left: 10px !important;
    }
    .footer_logo {
      display: none;
    }
    footer {
      margin-top: 300px !important;
    }
    footer {
      display: none !important;
    }
  }
}
@media only screen and(max-width: 767px) {
  body {
    header {
      height: 100% !important;
    }
    .start_new {
      margin-bottom: 70px !important;
    }
    .mobile_header_title {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
    }
    .main_mobile_list {
      margin: 20px 0 !important;
    }
    .user_job_mobile {
      display: none !important;
    }
    .aside_card {
      height: auto !important;
    }
    .aside_mobole_list {
      margin-bottom: 20px !important;
    }
    .secure_payment_title_text {
      width: 100% !important;
    }
    .secure_payment_img {
     opacity: .1;
    }
    .title_text {
      font-size: 20px !important;
    }
    .secure_mobole_version {
      flex-direction: column;
    }
    .interesting_box {
      display: none;
    }
    .aside_first_list {
      margin-top: 20px !important;
    }
    .box_icons {
      display: none !important;
    }
    .mobile_icon {
      display: block !important;
    }
    .left_box,
    .right_box {
      width: 100% !important;
      height: auto !important;
      padding: 45px 50px 45px 50px !important;
    }
    .box_list_text li {
      font-size: 18px !important;
      padding-left: 20px !important;
    }
    
    .box_title_text {
      font-size: 20px !important;
    }
    footer {
      margin-top: 320px !important;
    }
    .footer_logo {
      display: none;
    }
    
    .header_bottom {
      display: none !important;
    }
    
    footer {
      display: none !important;
    }
  }
}


@media only screen and(max-width: 567px) {
  body {
    header {
    .circle_text span {
      font-size: 12px !important;
    }
    .circle_text p {
      font-size: 9px !important;
      line-height: 6px;
    }
    .circle_text {
      margin-left: 5px !important;
      width: 130px !important;
    }
    .row_start_button {
      margin-top: 50px !important;
      margin-bottom: 50px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .start_new {
      width: 150px !important;
      height: 25px !important;
      font-size: 11px !important;
      margin-right: 20px !important;
    }
    .header_title {
      margin-top: 90px !important;
    }
    .header_title_text {
      font-size: 30px !important;
    }
    .title_last_text,
    .header_link_text {
      font-size: 14px !important;
    }
    form input {
      width: 90% !important;
      height: 40px !important;
    }
    form button {
      width: 90% !important;
      height: 40px !important;
      border-radius: 30px;
      margin-left: 0 !important;
      margin-top: 15px;
    }
    .header_link_text {
      font-size: 14px !important;
    }
    .nav_logo {
      margin-left: 45px !important;
    }
    .user_nickName span {
      font-size: 10px !important;
    }
    .user_job>span {
      font-size: 16px !important;
      font-weight: 700 !important;
    }
    .user_job>span {
      font-size: 14px !important;
      font-weight: 500 !important;
    }
    .user_name {
      margin-left: 5px !important;
      max-height: 80px !important;
    }
    select option {
      font-size: 10px !important;
    }

    .logotip_text .sup {
      font-size: 25px !important;
    }
    .logotip_text .sub {
      font-size: 18px !important;
    }
    .interesting_box .row {
      margin-top: 10px !important;
      margin-left: 20px !important;
    }
    .left_box,
    .right_box {
      height: auto !important;
      padding: 20px !important;
    }
    
    .box_title_text {
      font-size: 20px !important;
    }
    .box_title_text {
      padding-left: 30px;
    }
    footer {
      margin-top: 300px !important;
    }
    .interesting_box {
      display: none;
    }
    .user_last_info_list .user_name span {
      line-height: 20px;
      padding-bottom: 10px;
    }
  }
}

@media only screen and(max-width: 467px) {
  body {
    header {
      height: 100% !important;
    }
    .row_start_button {
      
     margin-right: 50px !important;
    }
    .box_title_text {
      font-size: 18px !important;
    }
    .box_list_text li {
      font-size: 16px !important;
    }
    .box_list_text li p {
      font-size: 12px !important;
      padding-top: 5px !important;
      float: left  !important;
      padding-left: -25px !important;

    }
    .box_icons {
      display: none !important;
    }
    .mobile_icon {
      display: block !important;
    }
    .box_list_text li {
      margin-left: 15px;
    }
    .box_list_text ul {
      padding-top: 5px !important;
    }
    footer {
      margin-top: 300px !important;
    }
    
    .footer_text p {
      font-size: 16.5px !important;
      font-weight: 700 !important;
    }
    .registration {
      width: 120px !important;
      margin-left: -60px !important;
    }
    aside {
      margin-top: -70px;
    }
  }
}
@media screen and (max-width: 368px) {
  body {
    .left_box,
    .right_box {
      height: auto !important;
      width: 100% !important;
      padding: 10px !important;
    }
    .box_list_text li {
      font-size: 14px !important;
      padding-left: 1px !important;
    }
  }
}



// ************** added footer

@media (min-width: 1160px) {
  body {
      font-size: 14px;
  }
  
  .social a i {
      font-size: 25px;
  }
  
  .item__list {
      font-size: 12px;
  }
  .container_ded{
      width: 1160px;
      padding: 0 20px;
  }
  .footer__item{
      margin-right: 9%;
  }
}
@media (max-width: 1100px) {
  .social a i{
      font-size: 18px;
  }
  .item__list{
      font-size: 13px;
  }
  #investonse{
      width: 150px;

  }
  #letcop_com{
      width: 50px;
  }
  .footer__item{
      margin-right: 4.5%;
  }
}
@media (max-width: 1000px) {
  #investonse_mob{
      width: 160px;
  }
  body {
      line-height: 1.5em;
      font-size: 15px;
  }

  .container_ded {
      width: 98%;
  }

  .disNon {
      display: none;
  }
  
  .dis {
      display: block;
  }
  
  .footer__item {
      margin: 0;
      margin-top: 7px;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      
      background-color:  #12114A;
  }
  
  .footer__item:first-child {
      justify-content: center;
      background-color: #fff;
      margin-bottom: 0;
      
  }
  
  .blocks_fr {
      margin-top: 5px;
      text-align: center;
      
  }
  
  .fr__item {
      width: 100%;
      color: #12114A;
      font-weight: 600;
  }
  
  .fr__line {
      margin: 5px 0;
      border-bottom: 1px solid #12114A;
  }
  
  .logo__mob {
      width: auto;
  }
  
  #aboutServiceBlock {
      position: relative;
  }
  
  #chevronAbSv {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  #forUsersBlock {
      position: relative;
  }
  
  #chevronForUsers {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  #hpBlock {
      position: relative;
  }
  
  #chevronHp {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  #scBlock {
      position: relative;
  }
  
  #chevronSc {
      position: absolute;
      top: 29%;
      right: 10px;
  }
  
  .social {
      display: flex;
      justify-content: center;
  }
  
  .social a {
      margin-right: 60px;
      color: #12114A;
  }
  
  .social a:last-child {
      margin: 0;
  }
  
  .social a:hover {
      color: #00CF4D;
  }
  
  .social a i {
      font-size: 30px;
  }

  .copy {
      line-height: 1.8em;
      text-align: center;
  }

}

@media (max-width: 770px) {
  body {
      font-size: 14px;
  }
  
  .footer__item {
      margin-top: 5px;
      padding: 8px 0;
      font-size: 16px;
  }
}

@media (max-width: 550px) {
  .footer__item {
      margin-top: 6px;
      padding: 6px 0;
      font-size: 14px;
  }
}



/*=========== Header navbar MEDIA//START==================*/

@media(max-width: 1040px){
  .head__left{
      margin-right: auto;
  }
  .head__logo{
      margin-right: 0;
  }
  .head__bell{
      margin-right: 50px;
  }
  .change__lang{
      display: flex;
      align-items: center;
      padding: 19px 0 19px 20px;
      color: #6461ff;
      font-weight: 600;
  }
  .change__title{
      font-weight: 400;
      margin-right: 21px !important;
  }
  .change__lang p{
      margin-right: 35px;
  }
  .active__lang{
      color: #fff;
  }
  nav{
      display: none;
  }
  .container_nav{
      max-width: calc(100% - 20px);
  }
  .head__burger{
      margin-right: auto;
      cursor: pointer;
  }
  .head__burger .burger__iteam{
      width: 22px;
      height: 4px;
      background-color: #00CF4D;
      margin: 3px 0;
  }
  .head__burger:before,.head__burger:after{
      content: '';
      width: 22px;
      height: 4px;
      background-color: #00CF4D;
      display: block;
  }
  .head__main_block{
      justify-content: flex-start;
  }
  .head__media_modal{
      width: 300px;
      height: 100%;
      position: fixed;
      top: 0;
      left: -100%;
      background-color: #12114A;
      box-shadow: 20px 0px 49px 0px rgba(255, 255, 255, 0.1);
      opacity: 0;
      visibility: hidden;
      transition: 0.4s;
      display: block;
  }
  .activeModal{
      left: 0;
      opacity: 1;
      visibility: visible;
  }
  .head__modal_inner{
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 70px;
      position: relative;
  }
  .head__modal_inner > a{
      padding-left: 20px;
      margin-bottom: 20px;
  }
  .head__modal_inner .media__hide_links a{
      display: block;
  }
  .head__modal_inner .media__active_hide + .media__hide_links{
      height: 160px;
  }
  .media__active_hide{
      color: #fff !important;
  }
  .media__active_hide a{
      color: #fff !important
  }
  .media__active_hide i:last-child{
      transform: translateY(-50%) rotate(-180deg);
  }
  .media__active_hide a:after{
      width: 100% !important;
  }
  .head__modal_inner a:after{
      display: none;
  }
  .head__modal_inner a{
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      display: block;
  }
  .head__modal_inner .close,.mobile__modal .close{
      position: absolute;
      top: 20px;
      left: 20px;
      color: #00CF4D;
      font-size: 25px;
      cursor: pointer;
  }
  .head__modal_inner .head__bottom{
      margin-right: 0;
      text-transform: uppercase;
      margin-bottom: 20px;
      text-align: center;
  }
  .head__modal_inner .head__bottom span{
      margin-bottom: 10px;
      display: inline-block;
  }
  .head__modal_inner .head__bottom .hide__link{
      width: 230px;
      position: static;
      height: 0;
  }
  .head__modal_inner .active .hide__link{
      height: 80px;
  }
  .head__right .head__bottom{
      display: none;
  }
  .media__chooose_lang{
      display: flex;
      align-items: center;
  }
  .media__chooose_lang a{
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      transition: 0.3s;
      margin-right: 10px;
  }
  .media__chooose_lang a:last-child{
      margin-right: 20px;
  }
  .media__chooose_lang a:hover{
      color: #00CF4D;
  }
  .head__right{
      padding-left: 19px;
      padding-right: 13px;
  }
  .head__hide_box{
      display: none;
  }
  .head__botton{
      margin-right: 10px;
  }
  .media__hide_box{
      display: block;
  }
  .media__hide_button{
      padding: 13px 13px 12px 19px;
      background-color: #3A3889;
      position: relative;
      cursor: pointer;
      color: #6461ff;
  }
  .media__hide_button a{
      text-decoration: none;
      color: #6461ff;
      font-weight: 600;
      position: relative;
  }
  .media__hide_button .icon{
      margin-left: 12px;
      margin-right: 0;
      font-weight: 400;
  }
  .media__hide_links{
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
  }
  .media__hide_links a{
      text-decoration: none;
      color: #fff;
      margin-bottom: 30px;
      display: inline-block;
      position: relative;
  }
  .media__hide_links a:last-child{
      margin-bottom: 0;
  }
  .media__active_hide + .media__hide_links{
      padding: 23px 13px 16px 19px;
      height: 205px;
      opacity: 1;
      visibility: visible;
  }
  .color_blue a{
      color: #706cff;
  }
  .color_blue + .media__hide_links a{
      color: #706cff;
  }
  .media__hide_links a:after,.media__hide_button a:after{
      content: "";
      width: 0;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: -1px;
      left: 0;
      transition: 0.3s;
  }
  .media__hide_links a:hover:after{
      width: 100%;
  }
  .color_blue a:after{
      background-color: #706cff;
  }
  .media__hide_button a:hover:after{
      width: 100%;
  }
  .color_blue + .media__hide_links a:after{
      background-color: #706cff;
  }
  .down__icon{
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      transition: 0.3s;
  }
  .head__right{
      width: 300px;
      justify-content: center;
  }
  .head__logo{
      width: 40px;
      height: 40px;
  }
}
@media (max-width: 660px){
  .media__logo{
      display: inline-block;
      width: 35px;
      height: 35px;
  }
  .head__burger{
      margin-right: 0;
  }
  .head__right {
      display: none;
  }
  .head__left{
      display: none;
  }
  .head__modal_inner{
      display: none;
  }
  .mobile__modal{
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      position: relative;
  }
  .head__main_block{
      padding: 15px 0;
      justify-content: space-between;
  }
  .hide__modal_triangle{
      display: none;
  }
  .hide__bell_modal{
      width: 98vw;
      height: 100%;
  }
  .activeBell .hide__modal_block{
      top: 50px;
  }
  .hide__modal_block{ 
      left: -25vw;
      top: 10px;
  }
  .mobile__modal .head__profile{
      display: flex;
      justify-content: center;
      padding-top: 15px;
      padding-bottom: 21px;
  }
  .modile__head_login{
      font-weight: 500;

      display: flex;

      align-items: center;
      cursor: pointer;

      color: #fff;
  }
  .change__lang{
      display: flex;
      align-items: center;
      padding: 19px 0 19px 60px;
      color: #6461ff;
      font-weight: 600;
  }
  .change__title{
      font-weight: 400;
      margin-right: 21px !important;
  }
  .change__lang p{
      margin-right: 35px;
  }
  .active__lang{
      color: #fff;
  }
  .mobile__modal .media__hide_button{
      padding-left: 60px;
      color: #6461ff;
  }
  .mobile__modal .media__hide_button i{
      font-weight: 700;
      transition: 0.3s;
  }
  .mobile__modal .media__hide_button a{
      color: #6461ff;
  }
  .mobile__modal .media__hide_button a:after{
      display: none;
  }
  .mobile__modal .media__hide_button .down__icon{
      right: 35px;
  }
  .mobile__modal .media__active_hide{
      color: #fff;
  }
  .mobile__modal .media__active_hide a{
      color: #fff;
  }
  .mobile__modal .media__active_hide i{
      transform: translateY(-50%) rotate(-180deg);
  }
  .mobile__modal .media__active_hide + .media__hide_links{
      padding: 10px 0;
      height: auto;
  }
  .mobile__modal .media__hide_links a{
      display: block;
      padding: 14px 0 14px 60px;
      margin-bottom: 0;
      transition: 0.3s;
  }
  .mobile__modal .media__hide_links a:hover{
      background-color: #33317e;
  }
  .mobile__modal .media__hide_links a:after{
      display: none;
  }
  .head__media_modal{
      width: 100%;
  }
  .mobile__modal .head__hide_bottom{
      border-radius: 0;
  }
  .mobile__modal .head__hide_bottom{
      padding: 14px 35px 16px 60px;
  }
  .mobile__modal .head__hide_bottom a i{
      margin-left: 6px;
  }
  .mobile__bell_modal{
      left: 5px;
      transform: translateX(0);
  }
  .active__mobile_bell{
      opacity: 1;
      visibility: visible;
      top: 60px;
  }
  .media__hide_button a{
      text-transform: uppercase;
  }
}
}